## IntelliJ files to ignore
*.iml
*.iws
*.ipr
.idea
.idea/*

## NetBeans files to ignore
.*_nb

# bench output
*.csv
*.png

## scala specific files to ignore
*.class
target/
project/project/
benchData/
_site/
